name: Deploy to Azure Static Website

env:
  APP_LOCATION: "open-station-app" # location of your client code
  API_LOCATION: "src/OpenStation.Api" # location of your api source code - optional
  OUTPUT_LOCATION: "open-station-app/build" # location of client code build output
  
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: ${{ env.APP_LOCATION }}

      - name: Build
        run: |
          CI=false npm run build
        working-directory: ${{ env.APP_LOCATION }}

      - name: Verify Build Output
        run: |
          if [ ! -d "${{ env.APP_LOCATION }}/build" ]; then
            echo "Build output directory does not exist"
            exit 1
          fi
        working-directory: ${{ env.APP_LOCATION }}
        
      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BLACK_TREE_0179E0410 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: ${{ env.APP_LOCATION }}
          api_location: ${{ env.API_LOCATION }}
          output_location: ${{ env.OUTPUT_LOCATION }}
        env:
          CI: false # Set CI to false to ignore warnings
